/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

/* SPECIFIC */

.title {
  text-align: center;
  color: #e53070;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 10px 0 40px 0;
}

.clearfix::after {
  content: "";
  display: inline-block;
  clear: both;
}

main > p {
  text-align: center;
}

.card {
  width: calc((100% / 3) - 10px);
  float: left;
  margin-top: 40px;
  background-color: #0e0f17;
  color: white;
  margin-left: 10px;
  box-shadow: 5px 10px 8px #141414;
}

.card * {
  float: left;
}

.card img {
  width: 100px;
}

.name {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 9px;
  line-height: 5px;
}

.text-container {
    float: left;
}
